:root {
  --color1: #2175bb;
  --color2: #d9d9d9;
  --color3: #777777;
  --color4: #ed2028;
  --color5: #003066;
  --color6: #9d9d9d;
}

/* color */
.bg1 {
  background-color: var(--color1);
}

.bg2 {
  background-color: var(--color2);
}

.bg3 {
  background-color: var(--color3);
}

.bg4 {
  background-color: var(--color4);
}

.bg5 {
  background-color: var(--color5);
}

.bg6 {
  background-color: var(--color6);
}

.color1 {
  color: var(--color1);
}

.color2 {
  color: var(--color2);
}

.color3 {
  color: var(--color3);
}

.color4 {
  color: var(--color4);
}

.color5 {
  color: var(--color5);
}

.color6 {
  color: var(--color6);
}

main h2 {
  color: var(--color3);
}

.link {
  text-decoration: none;
  color: var(--color5);
  font-size: 12px;
}

/* header */
.header {
  border-bottom: 1px solid var(--color5);
}

.nav-link {
  position: relative;
  cursor: pointer;
  width: max-content;
  text-decoration: none;
  color: var(--color6);
}

.nav-link::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color5);
  content: "";
  transition: 0.3s ease-out;
  margin-top: 8px;
}

.nav-link:hover:after,
.nav-link:focus::after {
  width: 100%;
}

.nav-link:hover {
  color: var(--color5);
}

.navbar {
  --bs-navbar-toggler-border-color: none;
  --bs-navbar-toggler-focus-width: none;
}

.navbar-toggler-icon {
  background-image: url(/img/burger-menu.svg);
}

.navbar-toggler-icon:active,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:hover {
  background-image: url(/img/burger-menu-active.svg);
}

.accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-border-width: 0;
  --bs-accordion-btn-focus-box-shadow: 0;
}

.accordion:active,
.accordion:focus {
  --bs-accordion-border-width: 1px;
}

.accordion-body {
  color: #fff;
  border-top: 1px solid #fff;
  width: 70%;
}

.accordion-body .dropdown-item {
  font-size: 12px;
}

.accordion-body .dropdown-item::after {
  margin-top: 2px;
}

.accordion-button {
  background-color: transparent;
  color: #fff;
}

.accordion-button:hover .accordion-body {
  display: block;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: transparent;
}

.accordion-button:hover .accordion-body {
  display: block;
}

.dropdown-toggle::after {
  margin-left: 0;
  border: none;
}

/* .dropdown-toggle:hover .dropdown-menu.show {
  display: block;
} */

.dropdown:hover .dropdown-menu {
  display: block;
  left: -40px !important;
  top: 49px !important;
  border: 1px solid var(--color5);
  background-color: rgba(0, 48, 102, .66);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 827px;
  height: fit-content;
  min-height: 290px;
  border: none;
}

/* .dropdown-menu{
  left: -40px !important;
  top: 58px !important;
  border: 1px solid var(--color5);
  background-color: rgba(0, 48, 102, .66);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 827px;
  height: fit-content;
  min-height: 290px;
  border: none;
} */

/* .dropdown:hover .dropdown-menu {
  left: -40px !important;
  top: 46px !important;
  border: 1px solid var(--color5);
  background-color: rgba(0, 48, 102, .66);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 827px;
  height: fit-content;
  min-height: 290px;
} */

.dropdown-menu.show {
  display: none;
}

.dropdown-item {
  position: relative;
  color: #fff;
  font-size: 14px;
  padding:0;
  width: max-content;
}

.dropdown-item::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  content: "";
  transition: 0.3s ease-out;
  margin-top: 8px;
}

.dropdown-item:hover:after,
.dropdown-item:focus::after {
  width: 100%;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active   {
  background-color: transparent;
  color: #fff;
}


.dropdown-item:active {
  font-weight: 700;
}

.offcanvas {
  --bs-offcanvas-width: 218px;
}

.offcanvas.offcanvas-end {
  top: 74px;
  border-left: none;
  height: 315px;
}

.navbar-nav li {
  font-size: 12px;
}

/* carousel */
.carousel h5 {
  font-size: 12px;
  line-height: 20px;
}

.carousel h3 {
  font-size: 28px;
}

.carousel-item {
  height: 400px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  left: 22%;
  top: 20%;
  width: 440px;
  height: 200px;
  opacity: 0;
  animation: form 3s forwards 0.4s;
}

.carousel .btn {
  font-size: 12px;
  background-color: #fff;
}

.carousel .btn:last-child {
  background-color: var(--color4);
}

.carousel .btn:hover,
.carousel .btn:active {
  background-color: transparent;
  border: 1px solid white;
}

@keyframes form {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* about */
.about p {
  font-size: 14px;
}

.about .col-6 p {
  border-left: 1px solid var(--color2);
}

.about h4 {
  font-size: 32px;
}

/* designing */
.designing h5 {
  font-size: 12px;
  max-width: 280px;
  line-height: 16px;
}

.designing p {
  font-size: 14px;
}

.oil {
  background-image: url(/img/oil.png);
  position: relative;
  width: 306px;
  height: 402px;
  background-position: center;
  background-repeat: no-repeat;
}

.oil::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 48, 102, 0.24);
}

.gas {
  background-image: url(/img/gas.jpg);
  position: relative;
  width: 306px;
  height: 402px;
  background-position: center;
  background-repeat: no-repeat;
}

.gas::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 48, 102, 0.24);
}

.tak {
  background-image: url(/img/tak.jpg);
  position: relative;
  width: 306px;
  height: 402px;
  background-position: center;
  background-repeat: no-repeat;
}

.tak::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 48, 102, 0.24);
}

/* security*/
.security_card {
  max-width: 350px;
  width: 100%;
  height: 150px;
}

.security_card-red {
  border: 1px solid var(--color4);
  color: var(--color4) !important;
  max-width: 350px;
  width: 100%;
  height: 150px;
}

.security_card-red p {
  font-size: 12px;
  color: var(--color4);
}

.security_card-red:active a,
.security_card-red:hover a,
.security_card-red:focus a {
  color: #fff;
}

.security_card-red:active,
.security_card-red:hover,
.security_card-red:focus {
  background-color: var(--color4) !important;
}

.security_card:active,
.security_card:hover,
.security_card:focus {
  background-color: var(--color5);
}

.security_card:active a,
.security_card:hover a,
.security_card:focus a {
  color: #fff;
}

.security_card:hover .img-svg path{
  fill: #fff;
  width: 63px;
  height: 63px;
}

.security img {
  width: 63px;
  height: 63px;
}

.security_card p {
  font-size: 12px;
  color: var(--color5);
}

/* catalog */
.catalog_card {
  max-width: 350px;
  width: 100%;
  height: 150px;
}

.catalog_card:active,
.catalog_card:hover,
.catalog_card:focus {
  background-color: var(--color5);
}

.catalog_card:active a,
.catalog_card:hover a,
.catalog_card:focus a {
  color: #fff;
}

.catalog_card:hover .img-svg path{
  fill: #fff;
}

.catalog img {
  width: 63px;
  height: 63px;
}

.catalog p {
  font-size: 14px;
  color: var(--color5);
}

/* consultation */
.consultation h4 {
  font-size: 24px;
}

.consultation p {
  font-size: 14px;
}

.form-control::placeholder {
  color: var(--color2);
}

.consultation .btn {
  background-color: var(--color5);
}

.consultation .btn:hover {
  background-color: var(--color4);
}

/* analyzers */
.analyzers_card {
  max-width: 230px;
  width: 100%;
  height: 102px;
  border: 1px solid var(--color2);
  border-bottom: 3px solid var(--color5);
}

.analyzers_card:active a,
.analyzers_card:hover a,
.analyzers_card:focus a {
  color: #fff;
}

.analyzers_card:focus,
.analyzers_card:hover,
.analyzers_card:active {
  background-color: var(--color4);
  border-bottom: none;
}

.analyzers_block {
  max-width: 340px;
  width: 100%;
}

/* blog */
.blog p {
  font-size: 12px;
}

.blog_card {
  background-image: url(/img/blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 198px;
  max-width: 562px;
  height: 198px;
}

.blog_card button {
  background-color: transparent;
}

.blog .btn {
  --bs-btn-border-radius: none;
  background-color: var(--color5);
}

.blog .btn:hover {
  background-color: var(--color4);
}

.portableGas h4 {
  font-size: 12px;
}

.portableGas_card p {
  font-size: 12px;
}

.portableGas_card {
  border: 1px solid var(--color2);
  max-width: 100%;
}

.page-item:last-child .page-link {
  border-bottom-right-radius: 0;
}

.page-item:first-child .page-link {
  border-bottom-left-radius: 0;
}

.page-link {
  color: var(--color6);
  background-color: transparent;
  border: none;
  position: relative;
  /* border-bottom: 3px solid var(--color2); */
}

.page-link::after {
  background-color: var(--color6);
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  border-radius: 20px;
  position: absolute;
  transform: translate(-50%, 0);
  width: 46px;
}

.page-link:active,
.page-link:focus {
  color: var(--color5);
  border: none;
}

.page-link:active:after,
.page-link:focus:after,
.page-link:hover:after {
  background-color: #ed2028;
}

.page-link:hover {
  background-color: var(--color4);
}

.pagination {
  --bs-pagination-focus-box-shadow: 0;
}

/* disigning */
.disigning_img {
  background-image: url("/img/consultation.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 319px;
  background-size: cover;
}

.disigning ul {
  padding-left: 1rem;
}

.disigning_main li {
  list-style-image: url(/img/point.svg);
  padding-left: 30px;
  font-size: 14px;
  margin-top: 16px;
}

.disigning p {
  font-size: 20px;
}

/* .disigning li::before {
  color: red; 
    content: url(/img/point.svg); 
    padding-right: 30px;
    list-style-position: outside;
} */

.disigning_card {
  border: 1px solid var(--color4);
  max-width: 100%;
}

.disigning_card h4 {
  font-size: 14px;
}

.wrapper {
  max-height: 250px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.wrapper .item {
  max-width: 400px;
  height: 200px;
  line-height: 110px;
  text-align: center;
  background-color: #2175bb;
  margin-right: 10px;
}

.disigning_card p {
  font-size: 12px;
}

.product_description p{
  font-size: 12px;
  color: var(--color5);
}

.product_description h4{
  font-size: 20px;
}

.product_info .btn {
  background-color: var(--color2);
  color: #000;
  font-size: 12px;
  width: 168px;
}

.product_info .btn:active, .btn:hover, .btn:focus {
  background-color: var(--color4);
  color: #fff;
}

.product .carousel-item img {
  width: 215px;
  height: 310px;
}

.product .carousel-item {
  height: 310px;
  width: 215px;
}

.carousel-indicators {
  bottom: -44px;
}

.carousel-indicators .active {
  background-color: rgba(237, 32, 40, 1) !important;
}

.carousel-indicators button {
  background-color: var(--color6)!important;
}

.card {
  --bs-card-border-width: 3px;
  --bs-card-border-color: var(--color2) !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--color6);
}

.breadcrumb-item .link {
  font-size: 14px;
  color: var(--color6);
}


/* footer */
.footer h5 {
  font-size: 28px;
  font-weight: 400;
}

.footer p {
  font-size: 14px;
}

/* media */
@media (max-width: 1200px) {
  .blog_card {
    max-width: 48%;
  }
  
  .catalog p {
    font-size: 18px;
  }

  .portableGas .analyzers_block {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .header {
    border-bottom: none;
    box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.4);
  }

  .header.header_main {
    box-shadow: none;
  }

  .about .col-6 p {
    border-left: none;
  }
  
  .oil,
  .gas,
  .tak {
    width: 206px;
    height: 312px;
  }

  .nav-link::after {
    margin-top: 0;
  }

  .analyzers_card {
    max-width: 180px;
    width: 100%;
    height: 102px;
  }

   .analyzers_block {
    max-width: 100%;
  }

  .portableGas + .analyzers_block {
    height: 290px;
  }

  .analyzers + .analyzers_block {
    height: 260px;
  }
  
  .disigning_img {
    width: 361px;
  }

  .disigning_card {
    border: 1px solid var(--color2);
  }

  .product_info .btn {
    width: 100%;
    border: 1px solid var(--color6);
  }

  .portableGas .analyzers_block {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .oil,
  .gas,
  .tak {
    width: 156px;
    height: 250px;
  }

  .consultation img {
    display: none;
  }

  .carousel h5 {
    font-size: 12px;
    line-height: 20px;
  }

  .carousel h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .carousel-caption {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #003066;
    width: 320px;
    height: 190px;
  }

  .catalog p {
    font-size: 14px;
  }

  .analyzers_card {
    max-width: 230px;
  }

  .portableGas + .analyzers_block {
    max-width: 100%;
    height: 280px;
  }

  .product .carousel-item img {
    width: 165px;
    height: 210px;
  }
}

@media (max-width: 576px) {
  .carousel h5 {
    font-size: 10px;
    line-height: 16px;
  }

  .carousel h3 {
    font-size: 12px;
    line-height: 18px;
  }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    width: 193px;
    height: 170px;
  }

  .carousel-caption .btn {
    font-size: 10px;
    line-height: 16px;
  }

  .security_card {
    max-width: 176px;
    height: 108px;
  }

  .security_card-red {
    max-width: 176px;
    height: 108px;
  }

  .security img {
    width: 36px;
    height: 36px;
  }

  .catalog p {
    font-size: 12px;
  }

  .catalog_card {
    max-width: 361px;
    height: 70px;
  }

  .catalog img {
    width: 45px;
    height: 45px;
  }

  .oil {
    background-image: url(/img/oilMobile.png);
    height: 108px;
    width: 100%;
    margin: 0 auto;
  }

  .oil,
  .gas,
  .tak::before {
    width: 100%;
    max-width: 360px;
    margin: auto;
  }

  .gas {
    background-image: url(/img/gasMobile.png);
    width: 100%;
    height: 108px;
  }

  .tak {
    background-image: url(/img/takMobile.png);
    width: 100%;
    height: 108px;
  }

  .analyzers_card {
    max-width: 173px;
    height: 70px;
  }

  .blog_card {
    max-width: 100%;
    height: 162px;
    background-size: 100% 162px;
  }

  .footer {
    display: none;
  }
}

/* * { outline: 1px solid red; } */