:root {
 
}


/* designing */
.designing h5 {
  font-size: 12px;
  color: #fff;
  max-width: 280px;
}

.oil {
  background-image: url(/img/oil.jpg);
  position: relative;
  width: 306px;
  height: 402px;
  background-position: center;
  background-repeat: no-repeat;
}

.oil::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:  rgb(0, 48, 102, .24);
}

.gas {
  background-image: url(/img/gas.jpg);
  position: relative;
  width: 306px;
  height: 402px;
  background-position: center;
  background-repeat: no-repeat;
}


.gas::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:  rgb(0, 48, 102, .24);
}

.tak {
  background-image: url(/img/tak.jpg);
  position: relative;
  width: 306px;
  height: 402px;
  background-position: center;
  background-repeat: no-repeat;
}

.tak::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:  rgb(0, 48, 102, .24);
}

/* * { outline: 1px solid red; } */
